<p>bonjour</p>
name : {{author.username}}
<table border="1">
    <tr>
        <td>id</td>
        <td>picture</td>
        <td>username</td>
        <td>email</td>
        <td>nb_books</td>
    </tr>
      <tr>
        <td>{{author.id}}</td>
        <td> <img src="{{asset (author.picture)}}" width="100" height="100"></td>
        <td>{{author.username | upper}}</td>
        <td>{{author.email}}</td>
        <td>{{author.nb_books}}</td>
        
        <td>details</td>
    </tr>
    </table>