<h1>BOOK</h1>
<p>title: {{ book.title }}</p>
<p>category: {{ book.category }}</p>
<p>publication date: {{ book.date|date('Y-m-d') }}</p>
<p>author: {{ book.author }}</p>

<h2>nombre de livres :{{nb}}</h2>
